.header,
.upper{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 15px;
}
.header .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.upper .header-three{
    display: flex;
    font-size: 36px;
    color: #F9FAF8;
}
.sign button,
.upper button{
    background-color: #3882F6;
}
.upper{
    display: flex;
}
.upper .button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid red;
}
.upper .image{
    display: flex;
    justify-content: end;
    border: 3px solid red;
}
.random .header-four{
    display: flex;
    font-size: 36px;
    font-weight: 900; 
    color: #000000;
    justify-content: center;
}
.random .photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid red;
}
.thor{
    background-color: #E5E7EB;
    font-size: 20px; 
    color: #1F2937;
    display: flex;
    justify-content: start;
    align-items: center;
}
.thor div{
    margin: 50px;

}
.thor ul{
    display: flex;
    justify-content: end;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sign{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
}